<!-- for our beloved frontenders -->
<!-- booksInCart - array z ksiazkami -->
<!-- cartEmpty - czy koszyk jest pusty -->
<!-- deleteFromCart(id) - usuwa z cart -->
<!-- good luck :( -->

<!-- <p *ngFor="let book of booksInCart">{{ book.name }}</p>
<p *ngIf="cartEmpty">Cart is Empty</p> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="all">
      <div class="cart-title">
        <h2>Twój Koszyk</h2>
      </div>
      <div class="rest">
        <section class="card_container">
          <div class="card" *ngFor="let k of booksInCart; let i = index">
            <div class="card_all">
              <div class="card_img">
                <img style="max-height: 200px;" src="{{ k.imgPath }}" alt="{{ k.name }}" />
              </div>
              <div class="card_info">
                <div class="basic_info">
                  <div class="c_info">
                    <p class="c_title">{{ k.name }}</p>
                    <p class="c_credit">
                      <strong>Autor: </strong> {{ k.author }}
                    </p>
                    <p class="c_credit">
                      <strong>Gatunek: </strong>{{ k.description }}
                    </p>
                  </div>
                  <div class="all_ceny">
                    <div class="c_ceny" *ngIf="k.discount != 0">
                      <p class="price">
                        {{ (k.price - k.price * k.discount).toFixed(2) }} zł
                      </p>
                      <p class="old_discounted">{{ k.price }} zł</p>
                    </div>
                    <div class="c_ceny" *ngIf="k.discount == 0">
                      <p class="price">
                        {{ (k.price - k.price * k.discount).toFixed(2) }} zł
                      </p>
                    </div>
                  </div>
                </div>
                <div class="b_change">
                  <button
                    class="btn btn_stepper"
                    (click)="changeAmmount(i, false)"
                  >
                    -
                  </button>
                  <p>{{ k.count }}</p>
                  <button
                    class="btn btn_stepper"
                    (click)="changeAmmount(i, true)"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
            <div class="card_hr"><hr /></div>
          </div>
        </section>
        <div class="checkout">
          <h1>Wartość koszyka</h1>
          <h3>Do zapłaty: {{ priceAllFormated }}</h3>
          <button class="btn btn_pay">PŁATNOŚĆ I DOSTAWA</button>
        </div>
      </div>
    </div>
  </body>
</html>
