<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="sliding-background"></div>

      <div class="pojemnik">
        <!-- <img
          src="/assets/img/exit.svg"
          alt="wyjście"
          class="ikonka_wyjscie pointer"
        /> -->
        <h1>Zaloguj się</h1>
        <div class="input_kontener">
          <div>
            <p>adres email</p>
            <input
              type="text"
              placeholder="wprowadź adres email"
              class="inpucik pointer"
            />
          </div>
          <div>
            <p>hasło</p>
            <input
              type="password"
              placeholder="wprowadź hasło"
              class="inpucik pointer"
            />
          </div>
          <button class="btn zal_btn pointer">zaloguj się</button>
        </div>
        <div class="rejestracia_contener">
          <p>Nie masz konta?</p>
          <button class="btn zar_btn pointer">zarejestruj się</button>
        </div>
      </div>
    </div>
  </body>
</html>
