:root {
  --button-color: #ffcb35;
  --background-color: #e19c2f;
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.1rem;
}

/* main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.page_container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
                      ===\/ Left \/===
*/

.c_left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  text-align: end;
}
.c_left * {
  margin-top: 5%;
  margin-right: 5%;
}
.c_left img {
  height: 60vh;
  min-height: 300px;
}

/* 
                      ===/\ Left /\===

                      ===\/ Right \/===
*/

.c_right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.geniusz {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.i_main {
  height: 25%;
}

h2 {
  font-size: 1.7rem;
}
.p_author {
  padding-top: 2%;
  font-size: 1.3rem;
  color: rgb(0, 0, 0, 70%);
}

.info_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 55%;
  width: 60%;
}

.i_c_desc {
  display: flex;
  width: 100%;
  max-height: 50%;
  padding: 1.5% 0;
}

.i_l {
  color: rgb(0, 0, 0, 70%);
}

.i_r {
  margin-left: 2%;
  justify-self: flex-start;
}

.ceny {
  display: flex;
  align-items: center;
}
.c_do_koszyka {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  width: auto;
  height: auto;
  padding: 0.1vw 0.5vw;
  border: none;
  border-radius: 0.5vw;
  font-weight: bold;
  font-size: 1.7rem;
  background-color: var(--button-color);
  margin-right: 15% !important;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--background-color);
}

.old_discounted {
  font-size: 1.4rem;
  color: rgb(0, 0, 0, 70%);
  text-decoration: line-through rgb(0, 0, 0, 70%);
  margin-left: 0.5vw;
}

.price {
  font-size: 1.8rem;
  color: var(--background-color);
  font-weight: bold;
}

/* 
                      ===/\ Right /\===

                      ===\/ Pdf \/===

*/

.pdf_c {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  animation: animateShow 0.4s linear;
}

@keyframes animateShow {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.pdf {
  width: 50%;
}

.pdf_c img {
  position: absolute;
  top: 2vh;
  width: 1.7%;
}

.hidden {
  display: none;
}

.pointer,
button,
.pdf_c img {
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .page_container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .c_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .c_left *,
  .btn {
    margin-right: 0 !important;
    padding: 2% !important;
  }
  .btn {
    margin-bottom: 2vh;
  }
  .i_main {
    text-align: center;
  }

  .info_container {
    margin: 2%;
  }
  .ceny {
    justify-content: center;
  }
}
